/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;	
}

#temperatura, #radiacion, #hora, #graficashumed, #grafcasTemp, #graficasrad{	
	padding-top: 20%;
	min-height:500px;
}
#humedad{	
	padding-top: 20%;
	min-height:500px;
	text-align: left;
}
#radiacion h2 , #hora h2, #temperatura h2{
	font-weight:normal;
	color: #39D084;
}
#humedad h2{
	font-weight:normal;
	color: #39D084;
	text-align: left;
}
/***** Profile *****/
	#temperatura h1 {
	color:#39d084;
	font-weight: normal;
}
#temperatura h3 {
	color:#ccc;
	font-weight: normal;
}
#humedad h1 {
color:#fff;
font-weight: normal;
text-align: left;
}
#humedad h3 {
	color:#fff;
	font-weight: normal;
}
#radiacion h1 {
	color:#00D9D2;
	font-weight: normal;
}
#radiacion h3 {
	color:#ccc;
	font-weight: normal;
}
#hora h1 {
	color:#fff;
	font-weight: normal;
}
#hora h3 {
	color:#fff;
	font-weight: normal;
}
a.btn-temperatura {
	display: inline-block;
 *display: inline;
	padding:6% 14%;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:2em;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-temperatura:hover {
	text-decoration:none;
	background:#11d170;
}
a.btn-humedad {
	display: inline-block;
 *display: inline;
	padding:6% 16%;
	background:#FFD833;
	color:#000;
	text-transform:uppercase;
	font-size:1.5em;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-humedad:hover {
	text-decoration:none;
	background:#FFCD31;
}
a.btn-radiacion {
	display: inline-block;
 *display: inline;
	padding:6% 14%;
	background:#00D4CD;
	color:#fff;
	text-transform:uppercase;
	font-size:2em;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-radiacion:hover {
	text-decoration:none;
	background:#00D9D2;
}

a.btn-hora {
	display: inline-block;
 *display: inline;
	padding:6% 14%;
	background:#fff;
	color:#979797;
	text-transform:uppercase;
	font-size:2em;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-hora:hover {
	text-decoration:none;
	background:#F2F2F2;
}
.social {
	text-align:center;
	padding-bottom:80px;
	color:#777;
	padding-top:100px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}



.btnsalir {
	background-color:#008d88;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	padding:29px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btnsalir:hover {
	background-color:#ce0100;
}
.btnsalir:active {
	position:relative;
	top:1px;
}
