/*This stylesheet contains some custom class rather than Bootstrap*/
		
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
#temperatura, #skills, #work, #resume {
	padding:30px 0;
	padding-top: 300px;
	min-height:500px;
}

#div-admin, #skills, #work, #resume {
	padding:30px 0;
	padding-top: 180px;
	min-height:500px;	
}

#div-admin h1, h3 {
	font-weight:normal;
	color: #878787;
}

#temperatura h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}


#humedad, #skills, #work, #resume {
	padding:86px 0;
	padding-top: 300px;
	min-height:500px;
}
#humedad h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}

#radiacion, #skills, #work, #resume {
	padding:86px 0;
	padding-top: 300px;
	min-height:500px;
}
#radiacion h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}

#hora, #skills, #work, #resume {
	padding:86px 0;
	padding-top: 300px;
	min-height:500px;
}
#hora h2, #skills h2, #work h2, #resume h2 {
	font-weight:normal;
	color: #39D084;
}

/***** Profile *****/
	#temperatura h1 {
	color:#39d084;
	font-weight: normal;
}
#temperatura h3 {
	color:#ccc;
	font-weight: normal;
}
#temperatura p {
	color: #878787;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#temperatura .container .span5 {
	padding:40px 0;
}

#humedad h1 {
color:#fff;
font-weight: normal;
}
#humedad h3 {
	color:#fff;
	font-weight: normal;
}
#humedad p {
	color: #fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#humedad .container .span5 {
	padding:40px 0;
}

#radiacion h1 {
	color:#00D9D2;
	font-weight: normal;
}
#radiacion h3 {
	color:#ccc;
	font-weight: normal;
}
#radiacion p {
	color: #878787;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#radiacion .container .span5 {
	padding:40px 0;
}

#hora h1 {
	color:#fff;
	font-weight: normal;
}
#hora h3 {
	color:#fff;
	font-weight: normal;
}
#hora p {
	color: #fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
#hora .container .span5 {
	padding:40px 0;
}

a.btn-temperatura {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#39d084;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-temperatura:hover {
	text-decoration:none;
	background:#11d170;
}

a.btn-humedad {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#FFD833;
	color:#000;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-humedad:hover {
	text-decoration:none;
	background:#FFCD31;
}


a.btn-radiacion {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#00D4CD;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-radiacion:hover {
	text-decoration:none;
	background:#00D9D2;
}

a.btn-hora {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#fff;
	color:#979797;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.btn-hora:hover {
	text-decoration:none;
	background:#F2F2F2;
}
.social {
	text-align:center;
	padding-bottom:80px;
	color:#777;
	padding-top:100px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}
.ps2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.css2 {
	width:85%;
	background:#39d084;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/***** Resume container *****/
#resume h3 {
	margin:60px 0;
}
#resume .btn-center {
	text-align:center;
}
.footer {
	background:#355267;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#39d084;
}
